
<section class="footer-bg-color p-5">
    <div class="container text-white  text-center">
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4  ">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-sm-5 mt-lg-0">
                <h3>AROUND THE WEB</h3>
                
                <div class="icon d-flex align-items-center justify-content-center mt-3">
                    <div class="container   w-50 me-0 ms-0 me-sm-0 ms-sm-0  me-lg-0 ms-lg-0">
                        <div class="row">
                            <div class="col-3 col-sm-3 col-md-6 col-lg-3">
                    <i class="fa-brands fa-facebook d-flex align-items-center justify-content-center rounded-circle p-3  "></i>
                    </div>
                    <div class="col-3 col-sm-3 col-md-6 col-lg-3">
                    <i class="fa-brands fa-twitter d-flex align-items-center justify-content-center rounded-circle p-3 "></i>
                </div>
                <div class="col-3 col-sm-3 col-md-6 col-lg-3">
                    <i class="fa-brands fa-linkedin d-flex align-items-center justify-content-center rounded-circle p-3   "></i>
                </div>
                <div class="col-3 col-sm-3 col-md-6 col-lg-3">
                    <i class="fa-solid fa-globe d-flex align-items-center justify-content-center rounded-circle p-3  "></i>
                </div>
                </div>
            </div>
            </div>
            </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-sm-5 mt-lg-0">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        
    </div>
    
</section>
<div class="mx-auto text-center copyright-bg-color text-white p-3">
    <h5>Copyright © Your Website 2021</h5>
</div>
