section{
    background-color: #1abc9c;
    
  }

section .star{
    position: relative;
  }
  section .star .before::before{
    content: "";
    position: absolute;
    top: 40% ;
    left: 32%;
    height: 4px;
    width: 13%;
    background-color: white;
  }
  section .star  .after::after{
    content: "";
    position: absolute;
    top: 40% ;
    right: 32%;
    height: 4px;
    width: 13%;
    background-color: white;
  }