.star{
    position: relative;
  }
  section .star .before::before{
    content: "";
    position: absolute;
    top: 40% ;
    left: 40%;
    height: 4px;
    width: 7%;
    background-color: #2C3E50;
  }
  section .star  .after::after{
    content: "";
    position: absolute;
    top: 40% ;
    right: 40%;
    height: 4px;
    width: 7%;
    background-color: #2C3E50;
  }
  .line-color{
    color: #2C3E50;
  }