<!-- <section class="w-100   mt-5 py-5 ">
    <div class=" py-5 mb-5 ">
      <div class="w-75 fs mx-auto text-black mt-5  py-5">
        <h1 class="frame fw-bold  mt-5  fs-1 text-center ">PORTFOLIO COMPONENT</h1>
        <div class="star text-center mt-3"><div class="before"></div><i class="fa-solid fa-star fs-5 text-white"></i><div class="after"></div></div>
       
            <div class="row text-white mt-3">
            
            </div>
       
      </div>
    </div>
  </section> -->

  <section class="w-100 mt-5 py-5">
    <div class="container mt-2">
        <div class="">
            <h2 class="fw-bold fs-1 text-center mx-auto line-color">PORTFOLIO COMPONENT</h2>

        </div>
    </div>
    <div class="star text-center mt-3">
        <div class="before">

        </div>
            <i class="fa-solid fa-star fs-5 line-color"></i>
                <div class="after">
            </div>
    </div>
    <div class="container w-100 mt-3 ">
        <div class="row  g-5">



            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="package">
                    <div class="image w-100">
                        <img [src]="imgSrc1"
                         class="w-100 rounded-4" [alt]="imgAlt1" >
                    </div>
                    <div class="img-hover rounded-4  mx-auto">
                        <i class="fa-solid fa-plus py-5 mt-3 d-flex align-items-center justify-content-center"></i> 
                    </div>
                </div>
            </div>

            

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="package">
                    <div class="image w-100">
                        <img [src]="imgSrc2"
                         class="w-100 rounded-4" [alt]="imgAlt2" >
                    </div>
                    <div class="img-hover rounded-4  mx-auto">
                        <i class="fa-solid fa-plus py-5 mt-3 d-flex align-items-center justify-content-center"></i> 
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="package">
                    <div class="image w-100">
                        <img [src]="imgSrc3"
                         class="w-100 rounded-4" [alt]="imgAlt3" >
                    </div>
                    <div class="img-hover rounded-4  mx-auto">
                        <i class="fa-solid fa-plus py-5 mt-3 d-flex align-items-center justify-content-center"></i> 
                    </div>
                </div>
            </div>

            <!-- /*******/ -->
            <!-- <div class="row mt-4"> -->

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="package">
                    <div class="image w-100">
                        <img [src]="imgSrc1"
                         class="w-100 rounded-4" [alt]="imgAlt1" >
                    </div>
                    <div class="img-hover rounded-4  mx-auto">
                        <i class="fa-solid fa-plus py-5 mt-3 d-flex align-items-center justify-content-center"></i> 
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="package">
                    <div class="image w-100">
                        <img [src]="imgSrc2"
                         class="w-100 rounded-4" [alt]="imgAlt2" >
                    </div>
                    <div class="img-hover  rounded-4 mx-auto">
                        <i class="fa-solid fa-plus py-5 mt-3 d-flex align-items-center justify-content-center"></i> 
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="package">
                    <div class="image w-100">
                        <img [src]="imgSrc3"
                         class="w-100 rounded-4" [alt]="imgAlt3" >
                    </div>
                    <div class="img-hover   mx-auto rounded-4">
                        <i class="fa-solid fa-plus py-5 mt-3 d-flex align-items-center justify-content-center"></i> 
                    </div>
                </div>
            </div>


        <!-- </div>  -->

        </div>
    </div>

  </section>