


<section class="w-100  p-5 mt-5 ">
    <div class=" p-5 overflow-auto">
      <div class="homeImg w-25 mx-auto">
    
        <img class="w-100 " [src]="imgSrc" [alt]="imgAlt">
      </div>
      <div class="w-75 fs mx-auto text-black text-center">
        <h1 class="frame fw-bold  mt-5 text-white fs-1">START FRAMEWORK</h1>
        <div class="star"><div class="before"></div><i class="fa-solid fa-star fs-4 text-white"></i><div class="after"></div></div>
        <P class=" text-white mt-2 ">Graphic Artist - Web Designer - Illustrator</P>
      </div>
    </div>
  </section>
  
  